---
import Compo from '../components/compo.astro';


const data = await fetch('https://jsonplaceholder.typicode.com/users').then((res) => res.json());

export const prerender = true

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<ul>
			{data.map((post:any) => (
				<li>{post.name}</li>
				<Compo server:defer name={post.name}>
					<span slot="fallback" >cargando...</span>
				</Compo>
			))}
	</ul>


	</body>
</html>
